<div
  class="d-flex align-items-center justify-content-center min-vh-100 bg-light"
>
  <div class="w-100 d-flex flex-column align-items-center">
    <!-- Contenedor principal -->

    <!-- Alerta de verificarMensaje -->
    <div class="text-center mb-3" *ngIf="verificarMensaje">
      <div class="alert alert-{{ verificarMensaje.type }}" role="alert">
        {{ verificarMensaje.text }}
      </div>
    </div>

    <div class="w-25 w-md-50 px-4 py-5 bg-white rounded-3 shadow-lg">
      <h2 class="text-center text-2xl text-secondary font-weight-bold mb-4">
        Verificación
      </h2>

      <!-- Formulario de verificación -->
      <form
        [formGroup]="verificationForm"
        (ngSubmit)="onSubmit()"
        class="space-y-4"
      >
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-key"></i>
          </span>
          <input
            type="text"
            id="verificationcode"
            formControlName="verificationcode"
            class="form-control"
            placeholder="Ingrese el código de verificación"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100 mt-3"
          [disabled]="verificationForm.invalid"
        >
          Verificar
        </button>
      </form>
    </div>
  </div>
</div>
