<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0">
      <div class="min-vh-100 bg-brand-light shadow-lg">
        <div class="p-4">
          <h3 class="text-xl text-brand-gray font-bold mb-4">Menú</h3>
          <div class="list-group">
            <button
              (click)="toggleFormOptions()"
              class="list-group-item list-group-item-action text-brand-blue font-semibold"
            >
              Formularios
            </button>
            <div *ngIf="isFormOptionsVisible" class="pl-4">
              <a
                *ngFor="let formulario of formularios"
                (click)="setCurrentComponent(formulario.templatename)"
                [routerLink]="['/principal/formulario/', formulario.formid]"
                class="list-group-item list-group-item-action text-sm text-brand-gray"
              >
                {{ formulario.formname }}
              </a>
            </div>
          </div>
          <!-- Botón de Cierre de Sesión -->
          <button (click)="logout()" class="btn btn-primary mt-4 btn-block">
            Cerrar Sesión
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
