<div class="container p-5">
  <h2 class="text-center mb-4">Detalles del Formulario</h2>

  <div
    *ngIf="mensaje"
    class="alert alert-{{ mensaje.type }} alert-dismissible"
    role="alert"
  >
    <button
      type="button"
      class="btn-close btn-close-custom"
      aria-label="Cerrar"
      (click)="cerrarMensaje()"
    ></button>
    {{ mensaje.text }}
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <div class="mb-3">
        <label for="formName" class="form-label">Nombre:</label>
        <input
          type="text"
          id="formName"
          name="formname"
          [(ngModel)]="formulario.formname"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción:</label>
        <textarea
          id="description"
          name="description"
          [(ngModel)]="formulario.description"
          rows="3"
          class="form-control"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <button class="btn btn-primary" (click)="openModalAgregar()">
      Agregar Campo
    </button>
  </div>

  <div class="table-responsive">
    <table id="tableDetalles" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Campo</th>
          <th scope="col">Valor</th>
          <th scope="col">Tipo de datos</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let campo of campos">
          <td>{{ campo.nombreCampo }}</td>
          <td>{{ campo.valor }}</td>
          <td>{{ campo.tipo }}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-warning me-2" (click)="editarCampo(campo)">
                <i class="fas fa-edit"></i> Editar
              </button>
              <button class="btn btn-danger" (click)="eliminarCampo(campo)">
                <i class="fas fa-trash-alt"></i> Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <button
      class="btn btn-primary"
      type="button"
      (click)="guardarCambiosFormulario()"
    >
      Guardar Cambios
    </button>
  </div>
</div>

<!-- Modal para editar campo -->
<div class="modal" id="modal" *ngIf="campoEditado">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Campo</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="campoNombre" class="form-label">Nombre del Campo</label>
          <input
            type="text"
            id="campoNombre"
            name="campoNombre"
            class="form-control"
            [(ngModel)]="campoEditado.nombreCampo"
          />
        </div>
        <div class="mb-3">
          <label for="campoValor" class="form-label">Valor</label>
          <input
            type="text"
            id="campoValor"
            name="campoValor"
            class="form-control"
            [(ngModel)]="campoEditado.valor"
          />
        </div>
        <div class="mb-3">
          <label for="campoTipo" class="form-label">Tipo de Datos</label>
          <select
            id="campoTipo"
            name="campoTipo"
            class="form-select"
            [(ngModel)]="campoEditado.tipo"
          >
            <option value="string">String</option>
            <option value="number">Number</option>
            <option value="date">Date</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Validaciones:</label>
          <ul>
            <li>
              <input type="checkbox" [(ngModel)]="longitudCheck" />
              Longitud:
              <input
                *ngIf="longitudCheck"
                type="text"
                [(ngModel)]="longitudValue"
              />
            </li>
            <li>
              <input type="checkbox" [(ngModel)]="formatoCheck" />
              Formato (si aplica):
              <input
                *ngIf="formatoCheck"
                type="text"
                [(ngModel)]="formatoValue"
              />
            </li>
            <li>
              <input type="checkbox" [(ngModel)]="esEnteroCheck" />
              Entero:
            </li>
          </ul>
        </div>
        <div class="text-end">
          <button class="btn btn-primary me-2" (click)="guardarCampoEditado()">
            Guardar
          </button>
          <button class="btn btn-secondary" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar nuevo campo -->
<div
  class="modal nuevoCampoModal"
  id="nuevoCampoModal"
  *ngIf="nuevoCampoModalVisible"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Nuevo Campo</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeModalAgregar()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nuevoCampoNombre" class="form-label"
            >Nombre del Campo</label
          >
          <input
            type="text"
            id="nuevoCampoNombre"
            name="nuevoCampoNombre"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="nuevoCampoValor" class="form-label">Valor</label>
          <input
            type="text"
            id="nuevoCampoValor"
            name="nuevoCampoValor"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="nuevoCampoTipo" class="form-label">Tipo de Datos</label>
          <select id="nuevoCampoTipo" name="nuevoCampoTipo" class="form-select">
            <option value="string">String</option>
            <option value="number">Number</option>
            <option value="date">Date</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Validaciones</label>
          <ul>
            <li>
              <input type="checkbox" [(ngModel)]="longitudCheck" />
              Longitud:
              <input
                *ngIf="longitudCheck"
                type="text"
                [(ngModel)]="longitudValue"
              />
            </li>
            <li>
              <input type="checkbox" [(ngModel)]="formatoCheck" />
              Formato (si aplica):
              <input
                *ngIf="formatoCheck"
                type="text"
                [(ngModel)]="formatoValue"
              />
            </li>
            <li>
              <input type="checkbox" [(ngModel)]="esEnteroCheck" />
              Entero:
            </li>
          </ul>
        </div>
        <div class="text-end">
          <button class="btn btn-primary me-2" (click)="guardarNuevoCampo()">
            Guardar
          </button>
          <button class="btn btn-secondary" (click)="closeModalAgregar()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
