<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0">
      <div class="min-vh-100 bg-light shadow-lg p-4">
        <h3 class="text-xl text-muted font-weight-bold mb-4">Menú</h3>
        <div class="list-group">
          <button
            (click)="toggleFormOptions()"
            class="list-group-item list-group-item-action text-primary font-weight-bold"
          >
            Formularios
          </button>
          <div *ngIf="isFormOptionsVisible" class="pl-4">
            <a
              [routerLink]="['/administrador/formularioshabilitados/']"
              class="list-group-item list-group-item-action"
              >Habilitados</a
            >
            <a
              [routerLink]="['/administrador/formulariosdeshabilitados/']"
              class="list-group-item list-group-item-action"
              >Deshabilitados</a
            >
            <a
              [routerLink]="['/administrador/crear-formulario/']"
              class="list-group-item list-group-item-action"
              >Crear formulario</a
            >
            <a
              [routerLink]="['/administrador/actividades/']"
              class="list-group-item list-group-item-action"
              >Actividades</a
            >
          </div>
        </div>
        <!-- Botón de Cierre de Sesión -->
        <button (click)="logout()" class="btn btn-primary mt-4 btn-block">
          Cerrar Sesión
        </button>
      </div>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
