<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <div
        class="card shadow-lg p-4 rounded"
        style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)"
      >
        <div class="card-body">
          <div
            *ngIf="loginMessage"
            class="alert alert-{{ loginMessage.type }}"
            role="alert"
          >
            {{ loginMessage.text }}
          </div>
          <h2 class="text-center text-primary mb-4">¡Bienvenido!</h2>
          <h2 class="text-center text-primary mb-4">
            Formularios para participación de compras públicas
          </h2>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="needs-validation"
            novalidate
          >
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fas fa-envelope"></i>
                </span>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control rounded-end"
                  placeholder="Correo electrónico"
                  required
                />
                <div class="invalid-feedback">
                  Por favor, ingresa un correo electrónico válido.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fas fa-key"></i>
                </span>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control rounded-end"
                  placeholder="Contraseña"
                  required
                />
                <div class="invalid-feedback">
                  Por favor, ingresa tu contraseña.
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100"
              [disabled]="loginForm.invalid"
            >
              Iniciar sesión
            </button>
          </form>
          <div class="mt-3 text-center">
            <p class="mb-1">
              <a href="/olvidar-contraseña" class="text-decoration-none">
                ¿Olvidaste tu contraseña?
              </a>
            </p>
            <p class="mb-0">
              ¿No tienes una cuenta?
              <a href="/registro" class="text-decoration-none">Regístrate</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
