<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center font-weight-bold mb-4">
        {{ formTemplate?.formname }}
      </h2>
      <div class="w-full">
        <div class="bg-white rounded shadow-lg">
          <h2 class="text-center text-lg text-muted font-weight-bold mb-4">
            {{ formTemplate?.description }}
          </h2>
          <form
            *ngIf="formGroup"
            [formGroup]="formGroup"
            (ngSubmit)="onSubmit()"
            class="p-4"
          >
            <div class="row">
              <ng-container
                *ngFor="let fieldValue of getFieldsValues(); let i = index"
              >
                <div class="col-md-4 mb-3">
                  <label
                    for="{{ fieldValue }}"
                    class="form-label text-uppercase text-muted font-weight-bold"
                  >
                    {{ fieldValue }}
                  </label>
                  <div *ngIf="isCityField(fieldValue)">
                    <select [formControlName]="fieldValue" class="form-control">
                      <option value="" disabled selected>
                        Selecciona una ciudad
                      </option>
                      <option
                        *ngFor="let ciudad of ciudadesEcuador | keyvalue"
                        [value]="ciudad.value.provincia"
                      >
                        {{ ciudad.value.provincia }}
                      </option>
                    </select>
                  </div>
                  <input
                    *ngIf="!isCityField(fieldValue)"
                    [type]="isDateField(fieldValue) ? 'date' : 'text'"
                    [formControlName]="fieldValue"
                    class="form-control"
                    [id]="fieldValue"
                    [ngClass]="{
                      'is-invalid':
                        formGroup.get(fieldValue)?.invalid &&
                        formGroup.get(fieldValue)?.touched
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      formGroup.get(fieldValue)?.invalid &&
                      formGroup.get(fieldValue)?.touched
                    "
                  >
                    {{ getFieldErrorMessage(fieldValue) }}
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-center">
                  <input
                    type="file"
                    (change)="onFileChange($event)"
                    class="form-control"
                    id="logoInput"
                  />
                </div>
                <div
                  *ngIf="nombreImagen"
                  class="text-center"
                  style="color: red"
                  [innerHTML]="nombreImagen | safeHtml"
                ></div>
                <div
                  *ngIf="getFieldErrorMessage('imagePath')"
                  class="text-center"
                  style="color: red"
                >
                  {{ getFieldErrorMessage("imagePath") }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="formGroup.invalid"
                  >
                    Generar Documento
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
