<div
  class="d-flex align-items-center justify-content-center min-vh-100 bg-light"
>
  <div class="form-group">
    <label *ngIf="mensajeRegistro" class="text-success">{{
      mensajeRegistro
    }}</label>
  </div>
  <div class="w-25 w-md-50 px-4 py-5 bg-white rounded-3 shadow-lg">
    <h2 class="text-center text-2xl text-secondary font-weight-bold mb-4">
      Registro
    </h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-id-card"></i>
        </span>
        <input
          type="text"
          id="cedula"
          formControlName="cedula"
          class="form-control"
          placeholder="Cédula"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        <input
          type="text"
          id="nombres"
          formControlName="nombres"
          class="form-control"
          placeholder="Nombres"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        <input
          type="text"
          id="apellidos"
          formControlName="apellidos"
          class="form-control"
          placeholder="Apellidos"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-user"></i>
        </span>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          placeholder="Nombre de Usuario"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-lock"></i>
        </span>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Contraseña"
        />
      </div>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fas fa-envelope"></i>
        </span>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Correo Electrónico"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100 mt-3"
        [disabled]="registroForm.invalid"
      >
        Registrarse
      </button>
    </form>
    <div class="mt-4 text-center">
      <a href="/login" class="text-primary"
        >¿Ya tienes una cuenta? Inicia sesión</a
      >
    </div>
  </div>
</div>
