<div class="p-4">
  <h2 class="text-xl font-bold mb-4">{{ formTemplate?.formname }}</h2>
  <div class="flex items-center justify-center min-h-screen bg-brand-light">
    <div class="w-full max-w-sm px-6 py-8 bg-white rounded-2xl shadow-lg">
      <h2 class="text-center text-2xl text-brand-gray font-bold mb-8">
        {{ formTemplate?.description }}
      </h2>
      <form
        *ngIf="formGroup"
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
        class="space-y-4"
      >
        <ng-container *ngFor="let fieldName of getFieldsKeys()">
          <div class="form-group">
            <label for="{{ fieldName }}">{{ fieldName }}</label>
            <ng-container *ngIf="fieldName !== 'si' && fieldName !== 'no'">
              <input
                *ngIf="isDateField(fieldName)"
                type="date"
                [formControlName]="fieldName"
                class="form-control"
                id="{{ fieldName }}"
              />
              <!-- Usar input tipo "text" para otros tipos de campos -->
              <input
                *ngIf="!isDateField(fieldName)"
                type="text"
                [formControlName]="fieldName"
                class="form-control"
                id="{{ fieldName }}"
              />
            </ng-container>
            <div *ngIf="getFieldErrorMessage(fieldName)" class="text-danger">
              {{ getFieldErrorMessage(fieldName) }}
            </div>
          </div>
          <div
            *ngIf="fieldName === 'si' || fieldName === 'no'"
            class="form-group flex items-center"
          >
            <input
              type="checkbox"
              [formControlName]="fieldName"
              (change)="onCheckboxChange(fieldName, $event)"
              class="form-check-input"
              id="{{ fieldName }}"
            />
            <label for="{{ fieldName }}" class="form-check-label ml-2">{{
              fieldName === "si" ? "Sí" : "No"
            }}</label>
          </div>
        </ng-container>
        <input
          type="file"
          (change)="onFileChange($event)"
          class="form-control"
        />
        <div *ngIf="getFieldErrorMessage('imagePath')" class="text-danger">
          {{ getFieldErrorMessage("imagePath") }}
        </div>
        <button
          type="submit"
          class="w-full bg-brand-blue text-white p-3 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 disabled:opacity-50"
        >
          Generar Documento
        </button>
      </form>
    </div>
  </div>
</div>
