<div class="p-4">
  <h2 class="text-xl font-bold mb-4 text-center">Formularios No Disponibles</h2>
  <div class="table-responsive">
    <table id="formulariosTable" class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Descripción</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formulario of formularios">
          <td class="align-middle">{{ formulario.formname }}</td>
          <td class="align-middle">{{ formulario.description }}</td>
          <td class="align-middle">
            <button
              (click)="editarFormulario(formulario)"
              class="btn btn-primary btn-sm mr-2"
              title="Editar"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              (click)="habilitarFormulario(formulario)"
              class="btn btn-success btn-sm"
              title="Habilitar"
            >
              <i class="fas fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
